{{#if isManagingUserRole}}
  

    <div class="ui modal auth">
      <div class="header">Manage Roles for {{userRecord.firstName}} {{userRecord.lastName}}</div>
      <div class="content">
        <!-- display a list of assigned roles names -->
        <!-- for the current user                   -->
        <table class="w3-table-all w3-hoverable" style="margin-top: 25px;">
        {{#each userRoleModel as |oneRole|}}
          <tr>
            <td>
              {{oneRole.name}}
            </td>
            <td class="right aligned">
              <button class="ui icon button" {{action 'deleteRole' oneRole.id ID}}>
                <i class="delete icon"></i>
              </button>
            </td>
          </tr>
        {{/each}}
        </table>
        <!-- display a dropdown list to assign a new  user role  -->
        <br> <br>
        {{#ui-dropdown class="labeled icon top right green pointing button" onChange=(action 'selectRole')}}
          <i class="plus icon"></i>
          Add User Role
          <div class="menu">
            {{#each roleCodeModel as |roleCode|}}
              <div data-value="{{roleCode.id}}" class="item">
                {{roleCode.name}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
      <div class="actions">
        <div class="ui button" {{action 'done'}}>Done
        </div>
      </div>
    </div>
{{/if}}
{{#if MR001IsPermitted }}
  <button class="w3-button w3-round-large w3-black" {{action 'manageRoles'}}>
    Manage Roles
  </button>
  {{else}}
  <button class="w3-button w3-round-large w3-black w3-disabled" {{action 'manageRoles'}}>
    Manage Roles (Not Permitted)
  </button>
{{/if}}




