<header class="w3-container w3-center" style="padding-top:22px; padding-bottom:22px">
    <h5><strong>User Log for {{userSt.firstName}} {{userSt.lastName}}</strong></h5>
</header>

{{#if noData}}
    <p class="w3-center">This User has no Simulation Data</p>
{{else}}
    <table class="w3-table-all w3-hoverable">
        <thead>
        <tr>
            <th>Date of Simulation</th>
            <th>Simulation Length (seconds)</th>
        </tr>
        </thead>
        <tbody>

        {{#each userSimHeaders as |sim|}}
        <tr>
            <td>
                {{sim.date}}
            </td>
            <td>
                {{sim.simulaionDuration}}
            </td>
        </tr>
        {{/each}}
        <tr>
            <td></td>
            <td><strong>Best Time: </strong>{{minTimeDisplay}}</td>
        </tr>
        <tr>
            <td></td>
            <td><strong>Average Time: </strong>{{averageTimeDisplay}}</td>
        </tr>
        <tr>
            <td></td>
            <td><strong>Worst Time: </strong>{{maxTimeDisplay}}</td>
        </tr>
        </tbody>
    </table>
{{/if}}
