{{#if TCLADDIsPermitted}}
    {{#if isOwningTeacher}}
        {{#if notHaveMessageBoard}}
            <button class="w3-button w3-right w3-round-large w3-green" {{action 'establishMsgBoard' cls}}><i class="fas fa-comments"></i>  Establish Message Board</button>
        {{/if}}
    {{/if}}
{{/if}}
{{#if notHaveMessageBoard}}
{{else}}
    {{#if showMsgBrd}}
        <button class="w3-button w3-right w3-round-large w3-black" {{action 'openNewMessage'}}><i class="fas fa-comments"></i>  Send New Class Message</button>
    {{/if}}
{{/if}}

<header class="w3-container w3-center" style="padding-top:22px; padding-bottom:22px">
    <h3><b><i class="fas fa-graduation-cap"></i> {{cls.className}}</b></h3>
</header>

<div class="w3-row-padding w3-margin-bottom">
        <div class="w3-quarter w3-round-large">
            <div class="w3-container w3-padding-16">
                <button class="w3-button w3-round-large w3-block {{A}}" {{action 'showInfo'}}><i class="fas fa-question"></i>  Class Information</button>
                <br>
                <button class="w3-button w3-block w3-round-large {{B}}" {{action 'showBrd'}}><i class="fas fa-comments"></i>  Class Message Board</button>
                <br>
                {{#if isOwningTeacher}}
                    <button class="w3-button w3-block w3-round-large {{C}}" {{action 'showUsers'}}><i class="fas fa-users"></i>  Class User Information</button>
                    <br>
                {{/if}}
            </div>
            <br>
        </div>
    {{#if showMsgBrd}}
        {{#if notHaveMessageBoard}}
            <p class="w3-center">Message Board Not Established</p>
        {{else}}
        <div class="w3-threequarter">
            <div class="w3-container w3-padding-16">
                {{#if isZeroMsgs}}
                    <h5 class="w3-center"><strong>No Messages</strong></h5>
                {{else}}
                {{#each Messages as |mess index|}}
                    <div class="container">
                        <p><strong>From: {{mess.sender.firstName}} {{mess.sender.lastName}}</strong></p>
                        <p><strong>Subject: </strong>{{mess.header}}</p>
                        <p>{{mess.body}}</p>
                        <p class="w3-right">{{mess.date}}</p>
                    </div>
                {{/each}}
                {{/if}}
            </div>
        </div>
        {{/if}}
        {{/if}}
        {{#if showClassInfo}}
        <div class="w3-threequarter">
            <div class="w3-container w3-padding-16">
            <div class="container">
                <header class="w3-container w3-center">
                    <h5><strong>About {{cls.className}}</strong></h5>
                </header>
                <p>{{cls.programDesc}}</p>
            </div>
            <br>
            <div class="container">
                <header class="w3-container w3-center">
                    <h5><strong>About {{cls.school}}</strong></h5>
                </header>
                <p>{{cls.schoolDesc}}</p>
            </div>
            </div>
            </div>
        {{/if}}
        {{#if isOwningTeacher}}
            {{#if showClassUsers}}
                <div class="w3-threequarter">
                    <div class="w3-container w3-padding-16">
                        <table class="w3-table-all w3-hoverable">
                            <thead>
                            <tr>
                                <th>Member Name</th>
                                <th>Date Registered</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            {{#each classRegs as |reg|}}
                            <tr>
                                <td>
                                    {{reg.user.firstName}} {{reg.user.lastName}}
                                </td>
                                <td>
                                    {{reg.date}}
                                </td>
                                <td>
                                    <button class="w3-button w3-round-large w3-center w3-black" {{action 'removeMember' reg.id}}>Remove Member</button>
                                </td>
                                <td>
                                    <button class="w3-button w3-round-large w3-center w3-black" {{action 'viewClassStats' reg.user}}>View Log</button>
                                </td>
                                <td>
                                    <button class="w3-button w3-round-large w3-center w3-black" {{action 'viewUserSims' reg.user}}>View Simulations</button>
                                </td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>   
                {{#if showViewStats}}
                    <button class="w3-button w3-right w3-round-large w3-red" {{action 'showUsers'}}><i class="fas fa-times"></i></button>
                    {{class-side-stats cls=cls userSt=userToStats}}
                {{/if}}             
                {{#if showUserSims}}
                    <button class="w3-button w3-right w3-round-large w3-red" {{action 'closeUserStats'}}><i class="fas fa-times"></i></button>
                    {{#if hasSims}}
                        <form class="w3-container w3-center">
                            <select class="ui dropdown" onchange={{action "setSimID" value="target.value"}}>
                                
                                {{#each usersSims as |sim|}}
                                    <option value={{sim.id}}>Simulation Date: {{sim.date}}</option>
                                {{/each}}
                            </select>
                        </form>
                        <br>
                        {{#if isChosen}}
                            {{display-data dataID = dataID}}
                        {{/if}}
                    {{else}}
                        <p class="w3-center">This User has no Simulation Data</p>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
        
    </div>

{{#if isMakingNew}}
    <div class="ui modal auth">
      <div class="header">Send New Class Message</div>
      <div class="content">
        <div class="ui form">
          <div class="inline field">
            <label>Subject</label>
            {{input value=header type="text" placeholder="Enter Subject"}}
          </div>
          <div class="inline field">
            <label>Message</label>
            {{textarea type="text" rows="4" value=body}}
          </div>
        </div>
      </div>
      <div class="actions">
        <button class="w3-button w3-green w3-round-large" {{action "sendMessage"}}>
          Send
        </button>
        <button class="w3-button w3-red w3-round-large" {{action "cancelSend"}}>
          Cancel
        </button>
      </div>
    </div>
{{/if}}

