<header class="w3-container w3-center" style="padding-top:22px; padding-bottom:22px">
    <h1><b><i class="fa fa-users"></i> Classes</b></h1>
  </header>

<div class="w3-row-padding w3-margin-bottom">
      <div class="w3-container w3-padding-16">
        {{#if TCLADDIsPermitted}}
          {{add-new-class}}
        {{/if}}
          <table class="w3-table-all">
            <thead>
            <tr>
              <th>Class Name</th>
              <th>Instructor</th>
              <th>Size</th>
              <th>Program</th>
              <th>School</th>
              {{#if TCLDELIsPermitted}}
                <th></th>
              {{/if}}
            </tr>
            </thead>
            <tbody>

            {{#each classModel as |class|}}
              <tr>
                <td>
                  {{class.className}}
                </td>
                <td>
                  {{class.teacher.lastName}}, {{class.teacher.firstName}}
                </td>
                <td>
                  {{class.classSize}}
                </td>
                <td>
                  {{class.program}}
                </td>
                <td>
                  {{class.school}}
                </td>
                {{#if TCLDELIsPermitted}}
                <td>
                  {{delete-class ID=class.id}}
                </td>
                {{/if}}
              </tr>
            {{/each}}
            </tbody>
          </table>
      </div>
</div>