<br>
<div class="w3-bar w3-black">
    <a class="w3-bar-item w3-button w3-mobile {{threeD}}" style="width:50%" {{action "pressThree"}}>
        <i class="fas fa-user-md"></i>
        3D Tracking Data
    </a>
    <a class="w3-bar-item w3-button w3-mobile {{perf}}" style="width:50%" {{action "pressPerf"}}>
        <i class="fas fa-bolt"></i>
        Performance Data
    </a>
</div>



{{#if isPerfData}}
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-half w3-round-large">
            <div class="w3-container w3-padding-16">
                <div class = "ui form">
                    {{ember-chart type="scatter" data=numberData height=500 width=500 options=barOptions}}
                </div>
            </div>
        </div>
        <div class="w3-half w3-round-large">
            <div class="w3-container w3-padding-16">
                <div class = "ui form">
                    {{ember-chart type="scatter" data=numberData1 height=500 width=500 options=barOptions1}}
                </div>
            </div>
        </div>
    </div>
    <div class="w3-row-padding w3-margin-bottom">
        <table class="w3-table-all w3-centered w3-hoverable">
            <thead>
                <tr>
                    <th colspan="2">Simulation Summary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Angle of Incision Error</td>
                    <td>{{myAngle}}°</td>
                </tr>
                <tr>
                    <td>Time in Skull Before Phase 2</td>
                    <td>{{timeInSkull}}s</td>
                </tr>
            </tbody>
        </table>
    </div>
    

{{/if}}
{{#if isThreeData}}
    
    <div class="w3-white w3-row-padding w3-margin-bottom w3-mobile">
        
        <div class="w3-container w3-padding-16 w3-center">
            <div class="mix">
                <div id="tester"></div>
            </div>
        </div>
        <form class="w3-container w3-center">
            <div class="slidercontainer">
                <input type="range" min="1" max={{lengthOfDisp}} value="50" class="slider" id="myRange"><span id="demo"></span>
                
            </div>
            <br>
            <button id ="left" class="w3-button {{buttonColor}}  w3-round w3-center" {{action 'moveLeft'}}>
                <i class="fa fa-angle-left"></i> 
            </button>
            <button class="w3-button {{buttonColor}} w3-round w3-center" {{action 'moveGraph'}}>
                <i class={{buttonIcon}}></i>  {{PP}} Simulation
            </button>
            
            <button id ="right" class="w3-button {{buttonColor}} w3-round w3-center" {{action 'moveRight'}}>
                <i class="fa fa-angle-right"></i> 
            </button>
        </form>
    </div>
{{/if}}