<!--<div class="ui grid">
    <div class="row"></div>
    <!--<div class="one wide column"></div>
    <div class="four wide column">
        <div class="ui basic segment" style="left-margin: 10px">
            <img class="ui centered image" src="/assets/images/medicartWebLogo.png" style="width: 100%">
        </div>
        <div class="ui fluid massive vertical menu">
            <a class="item">
                <div></div>
                <i class="ui home icon"></i>Home 
            </a>
            <a class="active item">
                <i class="ui area chart icon"></i>
                Statistics
            </a>
            <a class="item">
                <i class="ui users icon"></i>
                Classes
            </a>
            <a class="item">
                <div class="ui small label">4</div>
                <i class="ui talk icon"></i>
                Messages
            </a>
        </div>
        <div class="ui fluid massive vertical menu">
            <a class="item">
                Log Out
            </a>
            <a class="item">
                Account Settings
            </a>
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui segment">
            <div class="ui grid">
                <div class="four wide column">
                    <div class="ui fluid massive button" style="background-color: #F07F0A; color: black">View Track Points</div>
                </div>
                <div class="four wide column">
                    <div class="ui fluid massive button" style="background-color: #F07F0A; color: black">View Histroic Data</div>
                </div>
                <div class="four wide column">
                    <div class="ui fluid massive button" style="background-color: #F07F0A; color: black">View Improvement</div>
                </div>
                <div class="four wide column">
                    <div class="ui fluid massive button" style="background-color: #F07F0A; color: black">Export Tracked Data</div>
                </div>
            </div>
            
            
            <br><br><br><br><br><br>
            
            <img class="ui centered large image" src="/assets/images/graph.png">
            
            <br><br><br><br><br><br>
        </div>
    </div>
</div>-->

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">MedicART</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="/assets/images/generic_user.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>*Name*</strong></span><br>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-bar-block">
    <a class="w3-bar-item w3-button w3-padding {{Ho}}" {{action "HomePress"}}><i class="fa fa-home fa-fw"></i>  Home</a>
    <a class="w3-bar-item w3-button w3-padding {{Hi}}" {{action "HistoryPress"}}><i class="fa fa-history fa-fw"></i>  History</a>
    <a class="w3-bar-item w3-button w3-padding {{C}}" {{action "ClassPress"}}><i class="fa fa-users fa-fw"></i>  Classes  <span class="w3-badge w3-right">0</span></a>
    <a class="w3-bar-item w3-button w3-padding {{M}}" {{action "MessagePress"}}><i class="fa fa-comments fa-fw"></i>  Messages  <span class="w3-badge w3-right">0</span></a>
    <a class="w3-bar-item w3-button w3-padding {{S}}" {{action "SettingsPress"}}><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  

{{#if isHomePage}}
  <!-- Enter Home Page Code Here -->
  
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-third">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-life-ring w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>##</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Simulations Performed</h4>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>##</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Classes Joined</h4>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-container w3-green w3-padding-16">
        <div class="w3-left"><i class="fa fa-comments w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>##</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Messages</h4>
      </div>
    </div>
  </div>

  <header class="w3-container" style="padding-top:22px">
    <h2><b><i class="fa fa-home"></i> Home</b></h2>
  </header>

{{/if}}
{{#if isHistoryPage}}
  {{history-page}}
{{/if}}
{{#if isClassesPage}}
  {{classes-page}}
{{/if}}
{{#if isMessagesPage}}
  {{message-page}}
{{/if}}
{{#if isSettingsPage}}
  {{settings-page}}
{{/if}}


  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-center w3-light-grey">
      <p><strong>MedicART, Semicolon Software Capstone Project</strong></p>
      <p>Visit our Repository</p>
      <a href="https://github.com/semicoloncapstone" target="_blank"><i class="fa fa-github w3-xxlarge w3-hover-opacity"></i></a>
  </footer>

  <!-- End page content -->
</div>