<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <span class="w3-bar-item">MedicART</span>
</div>

<div class="w3-main">

<div class="w3-container w3-round w3-margin w3-padding w3-display-middle" style="width: 45%">
<!--    <header class="w3-container w3-center"> 
        <h2>Login</h2>
    </header>-->
    
        <img class="w3-image" src="/assets/images/logo.png" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">


    
    
        <!--<header class="w3-container" style="padding-top:22px; padding-bottom:22px">
            <h3><b><i class="fa fa-user"></i> Username</b></h3>
        </header>-->
        <!--<label>Username</label>-->
        <div class="w3-container">
        <div class="ui labeled big fluid input">
            <div class="ui black label">
                <i class="fa fa-user"></i> Username
            </div>
            {{input value=name type="text"}}
        </div>
           <!-- {{input value=name type="text"  class="w3-input w3-border w3-round-large"}}-->
        <br>
        <!--<header class="w3-container" style="padding-top:22px; padding-bottom:22px">
            <h3 class="w3-left"><b><i class="fa fa-lock"></i> Password</b></h3>
            <button class="w3-button w3-round-large w3-black w3-right" {{action 'seePass'}}><i class={{buttonIcon}}></i></button>
        </header>-->
        
        <div class="ui labeled big action fluid input">
            <div class="ui black label">
                <i class="fa fa-lock"></i> Password
            </div>
            {{input value=password type=seeNoSee  class="w3-input w3-border w3-round-large"}}
            <button class="ui black button" {{action 'seePass'}}><i class={{buttonIcon}}></i></button>
        </div>
        
        <!--<label>Password</label>
        
        {{input value=password type=seeNoSee  class="w3-input w3-border w3-round-large"}}
        
        {{error}}
        -->
        <br>
        <button id="login" class="ui fluid big black button" {{action 'login'}}><i class="fas fa-sign-in-alt"></i> Login</button>
        <br><br>
    </div>
</div>
<!-- 
<div class="w3-container w3-margin w3-padding w3-display-middle" style="width:45%">
    <img class="w3-image" src="/assets/images/medicartWebLogo.png">
</div>-->


</div>
<!--
<footer class="w3-container w3-padding-16 w3-center w3-light-grey" style="position:absolute; bottom:0; width:100%">
    <a href="https://github.com/semicoloncapstone" target="_blank"><i class="fab fa-github w3-xxlarge w3-hover-opacity"></i></a>
    <a href="https://www.emberjs.com/" target="_blank"><i class="fab fa-ember w3-xxlarge w3-hover-opacity"></i></a>
    <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"><i class="fab fa-css3-alt w3-xxlarge w3-hover-opacity"></i></a>
    <br>
    <p><strong>Semicolon Software, 2018</strong></p>
</footer>-->
