 <div class="ui center aligned header">
    <h2>Manage Code</h2>
</div>

<!--<div class="ui top attached tabular menu">
    <div class="active item" data-tab="residencies">Residencies</div>
    <div class="item" data-tab="genders">Genders</div>
    <div class="item" data-tab="highSchools">High Schools</div>
    <div class="item" data-tab="hsSubject">High School Subjects</div>
    <div class="item" data-tab="hsCourse">High School Courses</div>
  </div>
-->
<div class="ui six item inverted menu" style="background-color: #4F2683; color: #ffffff">
    <div class="active item" data-tab="residencies">Residencies</div>
    <div class="item" data-tab="genders">Gender</div>
    <div class="item" data-tab="programCodes">Program</div>
    <div class="item" data-tab="highschool">High School</div>
    <div class="item" data-tab="faculty">Faculty</div>
    <div class="item" data-tab="assessment">Assessment</div>
</div>

<div class="ui active tab"data-tab="residencies">
    {{#if MSC02IsPermitted}}
          <div class="ui grid">
        <div class="ui lef aligned five wide column"></div>
        <div class="ui lef aligned seven wide column">
            <div class="ui form">
                <br>
                <div class="inline field">
                    <label>Add New</label>
                    <input value="" type="text" placeholder="New Residency" onchange={{action 'updateResChoice' value="target.value"}}>
                    <a {{action 'addStudentOption'}}> 
                        <i class="large green add square icon"></i> <br>
                    </a>
                </div>
                {{#each residencyModel as |residencyChoice index|}}
                <div class="inline field">
                <label>Option {{increment index}}:</label> <input value={{residencyChoice.name}} type="text"  onchange = {{action 'changeResName' index}} id = {{index}} >
                <a {{action 'removeStudentOption' index}}> 
                    <i class="large red minus circle icon"></i> <br>
                </a>
                </div>
                {{/each}}                       
            </div>
        </div>
    </div>
        {{else}}
          <div class="ui center aligned raised segment">
            <div class="ui icon header">
              <i class="protect icon"></i>
              Permission Denied
            </div>
            <div>
              <p>This feature (MSC02) is not allowed for your account.</p>
              <p>Please contact the system administrator for more information.</p>
            </div>

          </div>
        {{/if}}
        
    
</div>
<div class="ui tab" data-tab="genders">
    {{#if MSC02IsPermitted}}
          <div class="ui grid">
        <div class="ui lef aligned five wide column"></div>
        <div class="ui lef aligned seven wide column">
            <div class="ui form">
                <br>
                <div class="inline field">
                    <label>Add New</label>
                    <input value="" type="text" placeholder="New Gender" onchange={{action 'updateGenderChoice' value="target.value"}}>
                    <a {{action 'addGenderOption'}}> 
                        <i class="large green add square icon"></i> <br>
                    </a>
                </div>
                {{#each genderModel as |genderChoice index|}}
                <div class="inline field">
                <label>Option {{increment index}}:</label> <input value={{genderChoice.type}} type="text"  onchange = {{action 'changeGenderName' index}} class = {{index}} >
                <a {{action 'removeGenderOption' index}}> 
                    <i class="large red minus circle icon"></i> <br>
                </a>
                </div>
                {{/each}}
            </div>
            
        </div>
    </div> 
        {{else}}
          <div class="ui center aligned raised segment">
            <div class="ui icon header">
              <i class="protect icon"></i>
              Permission Denied
            </div>
            <div>
              <p>This feature (MSC02) is not allowed for your account.</p>
              <p>Please contact the system administrator for more information.</p>
            </div>

          </div>
        {{/if}}
        
       
</div>

<div class="ui tab" data-tab="programCodes">
    {{#if MSC02IsPermitted}}
          <div class="ui grid">
        <div class="four wide column">
            <div class="ui secondary vertical pointing menu">
                <div class="active violet item" data-tab="termCodes">Term Codes</div>
                <div class="violet item" data-tab="planCodes">Plan Codes</div>
                <div class="violet item" data-tab="courseCodes">Course Codes</div>
                <div class = "violet item" data-tab="programs">Programs</div>
            </div>
        </div>
        <div class="twelve wide column">
        <div class="ui active tab" data-tab="termCodes">
            <div class="ui grid">
                <div class="ui left aligned three wide column"></div>
                <div class="ui left aligned seven wide column">
                    <div class="ui form">
                        <br>
                        <div class="inline field">
                            <label>Add New</label>
                            <input value="" type="text" placeholder="New Term" onchange={{action 'updateTermChoice' value="target.value"}}>
                            <a {{action 'addTermOption'}}> 
                                <i class="large green add square icon"></i> <br>
                            </a>
                        </div>
                        <div id = "termCodes">
                            {{#each termModel as |termChoice index|}}
                            <div class="inline field">
                            <label>Option {{increment index}}:</label> <input value={{termChoice.name}} type="text"  onchange = {{action 'changeTermName' index}} class = {{index}}>
                            <a {{action 'removeTermOption' index}}> 
                                <i class="large red minus circle icon"></i> <br>
                            </a>
                            </div>
                            {{/each}}
                        </div>                                
                    </div>
                </div>
            </div>
        </div>
    <div class="ui tab" data-tab="planCodes">
        <div class=" ui inverted segment" style="background-color: #4F2683" id="find">
                <div class="field">
                    
                    <div class="ui medium header" style="color: #FFFFFF">Search Plans</div>
                    <div class="ui icon input">
                        <input type="text" placeholder="Search..." class="planSearchVal">
                        <i class="search icon"></i>
                    </div> 
                    <button class="ui button" {{action 'findPlanClicked'}}>
                        Find 
                    </button>
                </div>
            </div>
        <div class="ui grid">
            <div class="ui left aligned three wide column"></div>
            <div class="ui left aligned seven wide column">
                <div class="ui form">
                        <br>
                    <div class="inline field">
                        
                        <label>Add New: </label>
                        <input value="" type="text" placeholder="New Plan" onchange={{action 'updatePlanChoice' value="target.value"}}>
                        <a {{action 'addPlanOption'}}> 
                            <i class="large green add square icon"></i> <br>
                        </a>
                    </div>
                    <div id="planCodes">
                        {{#each planModel as |planChoice index|}}
                        <div class = {{index}}>
                        <div class="inline field">
                            <label>Option {{increment index}}:</label> <input value={{planChoice.name}} type="text"  onchange = {{action 'changePlanName' index}} class = {{index}}>
                            <a {{action 'removePlanOption' index}}> 
                                <i class="large red minus circle icon"></i> <br>
                            </a>
                        </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="ui tab" data-tab="courseCodes">
            <div class=" ui inverted segment" style="background-color: #4F2683" id="find5">
                <div class="field">
                    <div class="ui medium header" style="color: #FFFFFF">Search By Number</div>
                    <div class="ui icon input">
                        <input type="text" placeholder="Search..." class="searchVal">
                        <i class="search icon"></i>
                    </div> 
                    <button class="ui button" {{action 'findClicked'}}>
                        Find 
                    </button>
                </div>
            </div>
            <div class="ui grid">
                <div class="ui center aligned three wide column"></div>
                    <div class="ui  aligned seven wide column"  >
                        <div class="ui form" >
                            <br/>
                            <div class = "ui form" id = "find">
                            <a {{action 'newCourseClicked'}}> 
                            <i class="large green add square icon"></i>Add New Course Code</a>
                            <br>
                            {{#if newCourse}}
                            <br>
                            <div id="newCourse">
                                <div class = "ui form error">
                                <div class="required fields">
                                    <div class = "seven wide field">
                                    <label>Course Letter</label> <input type="text" placeholder="Letter" class="letter" name="letter">
                                    </div>
                                    <div class = "six wide field">
                                    <label>Course Number</label> <input type="text" placeholder="Number" class="number" name = "number">
                                    </div>
                                    <div class = "three wide field">
                                    <label>Unit</label> <input type="text" placeholder="Unit" class="unit" name = "unit">
                                    </div>
                                </div>
                                <div class ="required sixteen wide field">
                                    <label>Course Name</label><input type = "text" class="name" placeholder="Name" name = "name">
                                </div>
                                <button class="ui violet button" {{action 'addCoursesOption'}} >
                                    Add 
                                </button>
                                <button class="ui button" {{action 'newCourseClicked'}}>
                                    Cancel
                                </button>
                                {{#if err}}
                                
                                <div class="ui error message">
                                    <div class="header">Missing Fields</div>
                                    <p>Please make sure all required fields are filled and try again.</p>
                                </div>
                                {{/if}}
                                </div>
                            </div>
                            {{/if}}
                        </div>
                        
                            <br>
                            <div id="courseCodes">
                            {{#each courseModel as |courseChoice index|}}
                            <h4 class="ui horizontal divider header" style="color: #4F2683">
                                <i class="angle double left icon"></i><i class="angle double right icon"></i>        
                            </h4>
                            <div class={{index}}>
                                <div class="ui large header" style="color: #4F2683">Option {{increment index}}
                                    <a {{action 'removeCourseOption' index}}> 
                                    <span data-tooltip="Remove This Option"><i class="red minus circle icon"></i></span> </a> <a {{action 'updateCourseChoice' index}}> 
                                    <span data-tooltip="Save Changes to Option"><i class=" save icon" ></i></span></a> 
                                    
                                    
                                </div>
                                    <div class="fields" >
                                        <div class = "seven wide field">
                                        <label>Course Letter </label> <input value = {{courseChoice.courseLetter}} type="text" class="letter">
                                        </div>
                                        <div class = "five wide field">
                                        <label>Course Number</label> <input value = {{courseChoice.courseNumber}}  type="text" class="number">
                                        </div>
                                        <div class = "three wide field">
                                        <label>Unit</label> <input value = {{courseChoice.unit}}  type="text" class="unit">
                                        </div>
                                    </div>
                                    <div class ="fifteen wide field">
                                        <label>Course Name</label><input value = {{courseChoice.name}}  type = "text" class="name">
                                    </div>
                                </div>
                            {{/each}}
                            </div>
                        </div>            
                    </div>       
            </div>
        </div>
        <div class="ui tab" data-tab="programs">
            <div class=" ui inverted segment" style="background-color: #4F2683" id="findProgram">
                <div class="field">
                    <div class="ui medium header" style="color: #FFFFFF">Search Programs</div>
                    <div class="ui icon input">
                        <input type="text" placeholder="Search..." class="programSearchVal">
                        <i class="search icon"></i>
                    </div> 
                    <button class="ui button" {{action 'findProgramClicked'}}>
                        Find 
                    </button>
                </div>
            </div>
            <div class = "ui grid">
                <div class="ui center aligned three wide column"></div>
                <div class="ui left aligned seven wide column">
                    <div class = "ui form" id = "programs">
                        <br/>
                        <a {{action 'newProgramClicked'}}>
                            <i class="large green add square icon"></i>Add New Program
                            </a>
                        <br>
                        {{#if newProgram}}
                        <br>
                        <div id="newProgram">
                            <div class = "ui form error">
                            
                            <div class ="required fifteen wide field">
                                <label>Program Name</label><input type = "text" class="name" placeholder="Name" name = "name">
                            </div>
                            <div class = "field">
                                <label name="list">Available Plans</label>
                                <select onchange={{action 'selectPlan' value="target.value"}} name = "listname">
                                    <option hidden>Select</option>
                                {{#each planModel as |planChoice index|}}
                                    <option value={{index}}> {{planChoice.name}} </option> 
                                    
                                {{/each}}
                            
                                </select>
                            </div>
                            <div class = "field">
                                <label name="depList">Department</label>
                                <select name = "depListName" onchange={{action "selectDepartment" value="target.value"}}>
                                    <option hidden>Select</option>
                                    {{#each departmentModel as |department|}}
                                    <option value={{department.id}}>{{department.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="ui medium header" style="color: #4F2683">Selected Plans:</div>
                            <ul>
                            {{#each newPlanList as |newPlanChoice index|}}
                                    <li class={{index}}>{{newPlanChoice.name}}
                                    <a {{action 'removeNewPlan' index}}><span data-tooltip="Remove This Plan"><i class=" large red minus circle icon"></i></span></a></li>
                            {{/each}}
                            </ul>
                            <br>
                            <button class="ui violet button" {{action 'addProgramOption'}} >
                                Add 
                            </button>
                            <button class="ui button" {{action 'newProgramClicked'}}>
                                Cancel
                            </button>
                            {{#if errProgram}}
                            
                            <div class="ui error message">
                                <div class="header">Missing Fields</div>
                                <p>Please make sure all required fields are filled and at least one plan selected.</p>
                            </div>
                            {{/if}}
                            </div>
                        </div>
                        {{/if}}

                        <div id = "programChoice">
                        {{#each programModel as |programChoice index|}}

                        <h4 class="ui horizontal divider header" style="color: #4F2683">
                            <i class="angle double left icon"></i><i class="angle double right icon"></i>
                        </h4>
                        <br/>

                        <div class = {{index}}>
                            <div class="ui form">
                            <div class = "ui large header" style="color: #4F2683">Option {{increment index}}
                                <a {{action 'removeProgramOption' index}}> 
                                <span data-tooltip="Remove This Option"><i class="red minus circle icon"></i></span> </a> <a {{action 'updateProgramChoice' index}}> 
                                <span data-tooltip="Save Changes to Option"><i class=" save icon" ></i></span></a> 
                            </div>
                            <div class ="fifteen wide field">
                                <label>Program Name</label>{{input type = "text" class="name" placeholder="Name"  value = programChoice.name name="name"}}
                            </div> 
                            <div class = "field">
                            <label name="deptList">Department</label>
                            <select  class="selectedDepartment" name="deptList" >
                                {{#each departmentModel as |department index2|}}
                                <option value={{index2}} selected={{eq department.id
                                                                                    programChoice.department.id}}>{{department.name}} </option>
                                {{/each}}
                            </select>
                            </div>
                            <div class = "field">
                                <label name="list">Available Plans</label>
                                <select onchange={{action 'updatePlan' index }} class="selectedPlan" name="list">
                                    <option hidden>Select</option>
                                {{#each planModel as |planChoice index2|}}
                                    <option value={{index2}}> {{planChoice.name}} </option> 
                                    
                                {{/each}}
                                </select>
                            </div>
                            <div class="ui small header" style="color: #4F2683">Selected Plans:</div>
                            <ul>
                            {{#each programChoice.availablePlans as |programPlan index2|}}
                                <li class={{index2}}>{{programPlan.name}}
                                    <a {{action 'removeProgramPlan' index index2}}><span data-tooltip="Remove This Plan"><i class=" large red minus circle icon"></i></span></a></li>
                            {{/each}}
                            </ul>
                            </div>
                        </div>
                        {{/each}}
                        </div>
                    </div>      
                </div>
            </div>
        </div>
        </div>
        </div>
        {{else}}
          <div class="ui center aligned raised segment">
            <div class="ui icon header">
              <i class="protect icon"></i>
              Permission Denied
            </div>
            <div>
              <p>This feature (MSC02) is not allowed for your account.</p>
              <p>Please contact the system administrator for more information.</p>
            </div>

          </div>
        {{/if}}
        
    
</div>
<div class="ui tab" data-tab="highschool">
    {{#if MSC02IsPermitted}}
          <div class="ui grid">
        <div class="four wide column">
                <div class="ui secondary vertical pointing menu">
                            <div class="active violet item" data-tab="highSchools">High Schools</div>
                            <div class="violet item" data-tab="hsSubject">Subjects</div>
                            <div class="violet item" data-tab="hsCourse">Courses</div>
                </div>
        </div>
    <div class="twelve wide column">
        
 <div class="ui tab" data-tab="hsSubject">
     <div class=" ui inverted segment" style="background-color: #4F2683" id="find">
                <div class="field">
                    <div class="ui medium header" style="color: #FFFFFF">Search Subjects</div>
                    <div class="ui icon input">
                        <input type="text" placeholder="Search..." class="subjectSearchVal">
                        <i class="search icon"></i>
                    </div> 
                    <button class="ui button" {{action 'findSubjectClicked'}}>
                        Find 
                    </button>
                </div>
            </div>
       <div class="ui grid">
            <div class="ui left aligned twelve wide column">
                <div class="ui form">
                    <br>
                    <div class="fields">
                        <div style="margin-right: 12px" class="field">
                            <br/>
                            <label style="text-align: center">Add</label>
                            <label style="text-align:center">New</label>
                        </div>
                        <div class="required field">
                            <label>Name</label>
                            <input placeholder="Name" value="" type="text" onchange={{action 'updateSubjectName' value="target.value"}}>
                        </div>
                        <div class="required field">
                            <label>Description</label>
                            <input placeholder="Description" value="" type="text" onchange={{action 'updateSubjectDescription' value="target.value"}}>
                        </div>
                        <div class="field">
                            <br/><br/>
                            <a {{action 'addSubjectOption'}}> 
                                <i class="large green add square icon"></i> <br>
                            </a>
                        </div>
                    </div>
                    <div id="hsSubjects">
                     {{#each highSchoolSubjectModel as |highSchoolSubjectChoice index|}}
                     <div class = {{index}}>
                        <div class="fields">
                            <div class="field">
                                <br/>
                                <label style="text-align: center">Option</label>
                                <label style="text-align: center">{{increment index}}</label>
                            </div>
                            <div class="required field">
                                <label>Name</label> <input value={{highSchoolSubjectChoice.name}} type="text"  onchange = {{action 'changeSubjectName' highSchoolSubjectChoice.id}} class = {{highSchoolSubjectChoice.id}}>
                            </div>
                            <div class="required field">
                                <label>Description</label> <input value={{highSchoolSubjectChoice.description}} type="text"  onchange = {{action 'changeSubjectDescription' highSchoolSubjectChoice.id}} id = {{highSchoolSubjectChoice.id}} >
                            </div>
                            <div class="field">
                                <br/><br/>
                                <a {{action 'removeSubjectOption' index}}> 
                                    <i class="large red minus circle icon"></i> <br>
                                </a>
                            </div>
                        </div>
                     </div>
                    {{/each}}
                    </div>
                </div>
            </div>          
        </div>
   </div>

<div class="active ui tab" data-tab="highSchools">
       <div class=" ui inverted segment" style="background-color: #4F2683" id="find">
                <div class="field">
                    <div class="ui medium header" style="color: #FFFFFF">Search High Schools</div>
                    <div class="ui icon input">
                        <input type="text" placeholder="Search..." class="hsSearchVal">
                        <i class="search icon"></i>
                    </div> 
                    <button class="ui button" {{action 'findHSClicked'}}>
                        Find 
                    </button>
                </div>
            </div>
       <div class="ui grid">
            <div class="ui left aligned twelve wide column">
                <div class="ui form">
                    <br>
                    <div class="fields">
                        <div style="margin-right: 12px" class="field">
                            <br/>
                            <label style="text-align: center">Add</label>
                            <label style="text-align: center">New</label>
                        </div>
                        <div class="required field">
                            <label>Name</label>
                            <input style="width: 500px" placeholder="Name" value="" type="text" onchange={{action 'updateHighSchoolName' value="target.value"}}>
                        </div>
                        <div class="field">
                            <br/><br/>
                            <a {{action 'addHighSchoolOption'}}> 
                                <i class="large green add square icon"></i> <br>
                            </a>
                        </div>
                    </div>
                    <div id = "highschoolsmod">
                     {{#each highSchoolModel as |highSchoolChoice index|}}
                     <div class = {{index}}>
                    <div class="fields">
                        <div class="field">
                            <br/>
                            <label style="text-align: center">Option</label>
                            <label style="text-align: center">{{increment index}}</label>
                        </div>
                        <div class="required field">
                            <label>Name</label>
                            <input style="width: 500px" value={{highSchoolChoice.name}} type="text"  onchange = {{action 'changeHighSchoolName' highSchoolChoice.id}} class = {{highSchoolChoice.id}}>
                        </div>
                        <div class="field">
                            <br/><br/>
                            <a {{action 'removeHighSchoolOption' index}}> 
                                <i class="large red minus circle icon"></i> <br>
                            </a>
                        </div>
                    </div>
                     </div>
                    {{/each}}
                    </div>
                    
                </div>
            </div>          
        </div>
   </div>

   <div class="ui tab" data-tab="hsCourse">
       <div class=" ui inverted segment" style="background-color: #4F2683" id="find9">
                
                    <div class="ui medium header" style="color: #FFFFFF">Search Course</div>
                    <label>Subject: </label>
                    <div class="ui icon input">
                        <input type="text" placeholder="Search..." class="courseSearchVal2">
                        
                    </div> 
                    <label>High School: </label>
                    <div class="ui icon input">
                        <input type="text" placeholder="Search..." class="courseSearchVal">
                        
                    </div> 
                    
                    
                    
                    
                    
                    <button class="ui icon button" {{action 'findCourseClicked'}}>
                        <i class="search icon"></i>
                        Find
                        
                    </button>
                    
                    
                
            </div>
       <div class="ui grid">
            <div class="ui left aligned twelve wide column">
                <div class="ui form">
                    <br>
                    <div class="fields">
                        <div style="margin-right: 12px" class="field">
                            <br/>
                            <label style="text-align: center">Add</label>
                            <label style="text-align: center">New</label>
                        </div>
                        <div class="required field">
                            <label>Level</label>
                            <input style="width: 70px" placeholder="Level" value="" type="text" onchange={{action 'updateCourseLevel' value="target.value"}}>
                        </div>
                        <div class="required field">
                            <label>Source</label>
                            <input style="width: 80px" placeholder="Source" value="" type="text" onchange={{action 'updateCourseSource' value="target.value"}}>
                        </div>
                        <div class="required field">
                            <label>Unit</label>
                            <input style="width: 60px" placeholder="Unit" value="" type="text" onchange={{action 'updateCourseUnit' value="target.value"}}>
                        </div>
                        <div class="required field">
                            <label>Subject</label>
                            <select style="width: 150px" onchange={{action 'updateCourseSubject' value="target.value"}} class="sub{{index}}">
                                <option value="" disabled selected style="display: none;">Subject</option>
                                {{#each highSchoolSubjectModel as |highSchoolSubjectChoice|}}
                                    <option value={{highSchoolSubjectChoice.id}}>{{highSchoolSubjectChoice.name}} </option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="required field">
                            <label>High School</label>
                            <select style="width: 300px" onchange={{action 'updateCourseHighSchool' value="target.value"}}>
                                <option value="" disabled selected style="display: none;">High School</option>
                                {{#each highSchoolModel as |highSchoolChoice|}}
                                    <option value={{highSchoolChoice.id}}>{{highSchoolChoice.name}} </option>
                                {{/each}}
                            </select>
                            
                        </div>
                        
                        <div class="field">
                            <br/><br/>
                            <a {{action 'addCourseOption'}}> 
                                <i class="large green add square icon"></i> <br>
                            </a>
                        </div>
                    </div>
                    <div id="hsCourses">
                     {{#each highSchoolCourseModel as |highSchoolCourseChoice indexHS|}}
                     <div class = {{indexHS}}>
                        <div class="fields" id="HS">
                            <div class="field">
                                <br/>
                                <label style="text-align: center">Option</label>
                                <label style="text-align: center">{{increment indexHS}}</label>
                            </div>
                            <div class="required field">
                                <label>Level</label>
                                <input  style="width: 70px" value={{highSchoolCourseChoice.level}} type="text"  onchange = {{action 'changeCourseLevel' indexHS}} class = "level{{indexHS}}" >
                            </div>
                            <div class="required field">
                                <label>Source</label> 
                                <input style="width: 80px" value={{highSchoolCourseChoice.source}} type="text"  onchange = {{action 'changeCourseSource' indexHS}} class = "source{{indexHS}}">
                            </div>
                            <div class="required field">
                                <label>Unit</label> 
                                <input style="width: 60px" value={{highSchoolCourseChoice.unit}} type="text"  onchange = {{action 'changeCourseUnit' indexHS}} class = "unit{{indexHS}}">
                            </div>
                            <div class="required field">
                                <label>Subject</label>
                                <select style="width: 150px" onchange={{action 'updateCourseSubject' value="target.value"}}>
                                    {{#each highSchoolSubjectModel as |highSchoolSubjectChoice|}}
                                        <option value={{highSchoolSubjectChoice.id}} selected={{eq highSchoolSubjectChoice.id
                                                                                                highSchoolCourseChoice.subject.id}}>{{highSchoolSubjectChoice.name}} </option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="required field">
                                <label>High School</label>
                                <select style="width: 300px" onchange={{action 'changeCourseSchool' indexHS}} class="hs{{indexHS}}">
                                    {{#each highSchoolModel as |highSchoolChoice|}}
                                        <option value={{highSchoolChoice.id}} selected={{eq highSchoolChoice.id
                                                                                        highSchoolCourseChoice.highschool.id}}>{{highSchoolChoice.name}} </option>
                                    {{/each}}
                                </select>
                            </div>
                            
                            <div class="field">
                                <br/><br/>
                                <a {{action 'removeHSCourseOption' indexHS}}> 
                                    <i class="large red minus circle icon"></i> <br>
                                </a>
                            </div>
                        
                        </div>
                     </div>
                    {{/each}}
                    </div>
                </div>
            </div>          
        </div>
   </div>
   </div>
    </div>
        {{else}}
          <div class="ui center aligned raised segment">
            <div class="ui icon header">
              <i class="protect icon"></i>
              Permission Denied
            </div>
            <div>
              <p>This feature (MSC02) is not allowed for your account.</p>
              <p>Please contact the system administrator for more information.</p>
            </div>

          </div>
        {{/if}}
        
    
    </div>
   <div class="ui tab" data-tab="faculty">
       {{#if MSC02IsPermitted}}
          <div class="ui grid">
           <div class="four wide column">
                <div class="ui secondary vertical pointing menu">
                    <div class="active violet item" data-tab="fact">Faculties</div>
                    <div class="violet item" data-tab="dept">Departments</div>
                    <div class="violet item" data-tab="progAdmin">Program Administrations</div>
                </div>
            </div>
    <div class="twelve wide column">
    <div class="active ui tab" data-tab="fact">
        <div class="ui grid">
            <div class="ui left aligned twelve wide column">
                <div class="ui form">
                    <br>
                    <div class="inline fields">
                        <div style="margin-right: 12px" class="inline field">
                            <br/>
                            <label style="text-align: center">Add New</label>
                        </div>
                        <div class="required field">
                            <label>Name</label><br/>
                            <input style="width: 300px" placeholder="Name" value="" type="text" onchange={{action 'updateFacultyChoice' value="target.value"}}>
                        </div>
                        <div class="inline field">
                            <br/>
                            <a {{action 'addFacultyOption'}}> 
                                <i class="large green add square icon"></i> <br>
                            </a>
                        </div>
                    </div>
                        {{#each facultyModel as |facultyChoice index|}}
                        <div class="inline fields">
                            <div style="margin-right: 10px" class="inline field">
                                <label style="text-align: center" >Option {{increment index}}:</label>
                            </div>
                            <div style="margin-right: 12px" clas="inline field">
                                <input style="width: 300px" value={{facultyChoice.name}} type="text"  onchange = {{action 'changeFacultyName' index}} class = {{index}} >
                            </div>
                            <div style="margin-left: 3px" class="inline field">
                                <a {{action 'removeFacultyOption' index}}> 
                                    <i class="large red minus circle icon"></i> <br/>
                                </a>
                            </div>
                            <br/>
                        </div>
                        {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="ui tab" data-tab="dept">
        <div class="ui grid">
                <div class="ui lef aligned twelve wide column">
                    <div class="ui form">
                        <br/>
                        <div id="newDept" class="inline fields">
                            <div style="margin-right: 12px" class="inline field">
                            <label style="text-align: center">Add New</label>
                            </div>
                            <div class ="required inline field">
                                <label>Name</label><br/>
                                <input type = "text" class="name" placeholder="Name" name = "name" onchange={{action 'updateDeptName' value="target.value"}}>
                            </div>
                            <div class = "required inline field">
                                <label>Faculty</label><br/>
                                <select onchange={{action 'updateDeptFaculty' value="target.value"}} class="sub{{index}}">
                                    <option value="" disabled selected style="display: none;">Faculty</option>
                                    {{#each facultyModel as |facultyChoice|}}
                                        <option value={{facultyChoice.id}}>{{facultyChoice.name}} </option>
                                    {{/each}}
                                </select>
                            </div>
                            <br>
                            <div class="inline field">
                                <br/><br/>
                                <a {{action 'addDeptOption'}}> 
                                    <i class="large green plus square icon"></i>
                                    <br/>
                                </a>
                            </div>
                        </div>

                        <!--DOES NOT SAVE WHEN UPDATING THE FACULTY... DO WE NOT WANT THEM  HAVE THAT OPTION???-->

                        {{#each departmentModel as |deptChoice indexDept|}}
                            <div class="inline fields" id="HS">
                                <div class="inline field">
                                    <br/>
                                    <label style="text-align: center">Option {{increment indexDept}}: </label>
                                </div>
                                <div class="required inline field">
                                    <label>Name</label><br/>
                                    <input value={{deptChoice.name}} type="text"  onchange = {{action 'changeDeptName' indexHS}} class = "name{{indexDept}}" >
                                </div>
                                <div class="required inline field">
                                    <label>Faculty</label><br/>
                                    <select onchange={{action 'changeDeptFaculty' value="target.value"}}>
                                        {{#each facultyModel as |facultyChoice|}}
                                            <option value={{facultyChoice.id}} selected={{eq facultyChoice.id
                                                                                                    deptChoice.faculty.id}}>{{facultyChoice.name}} </option>
                                        {{/each}}
                                    </select>
                                </div>                                
                                <div class="inline field">
                                    <br/>
                                    <a {{action 'removeDeptOption' indexDept}}> 
                                        <i class="large red minus circle icon"></i> <br>
                                    </a>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
        </div>
    </div>
    <div class="ui tab" data-tab="progAdmin">
        <div class="ui grid">
            <div class="ui left aligned twelve wide column">
                <div class="ui form">
                    <br>
                    <div class="inline fields">
                        <div style="margin-right: 12px" class=" inline field">
                            <label style="text-align: center">Add New</label>
                        </div>
                        <div class="required inline field">
                            <label>Name</label>
                            <input style="width: 150px" placeholder="Name" value="" type="text" onchange={{action 'updateProgAdminName' value="target.value"}}>
                        </div>
                        <div class="required inline field">
                            <label>Position</label>
                            <input style="width: 300px" placeholder="Name" value="" type="text" onchange={{action 'updateProgAdminPosition' value="target.value"}}>
                        </div>
                        <div class= "required inline field">
                                <label>Department</label>
                                <select style="width: 190px" onchange={{action 'updateProgAdminDept' value="target.value"}} class="sub{{index}}">
                                    <option value="" disabled selected style="display: none;">Department</option>
                                    {{#each departmentModel as |deptChoice|}}
                                        <option value={{deptChoice.id}}>{{deptChoice.name}} </option>
                                    {{/each}}
                                </select>
                            </div>
                        <div class="inline field">
                            <br/>
                            <a {{action 'addProgAdminOption'}}> 
                                <i class="large green add square icon"></i> <br>
                            </a>
                        </div>
                    </div>
                        {{#each progAdminModel as |progAdminChoice index|}}
                        <div class="inline fields">
                            <div class="inline field">
                                <label style="text-align: center" >Option {{increment index}}:</label>
                            </div>
                            <div style="margin-right: 12px" clas="inline field">
                                <input style="width: 150px" value={{progAdminChoice.name}} type="text"  onchange = {{action 'changeProgAdminName' index}} class = "progName{{index}}" >
                            </div>
                            <div class="required inline field">
                                    <input style="width: 300px" value={{progAdminChoice.position}} type="text"  onchange = {{action 'changeProgAdminPos' index}} class = "progPos{{index}}" >
                                </div>
                                <div class="required inline field">
                                    <select style="width: 190px">
                                        {{#each departmentModel as |deptChoice|}}
                                            <option value={{deptChoice.id}} selected={{eq deptChoice.id
                                                                                                    progAdminChoice.department.id}}>{{deptChoice.name}} </option>
                                        {{/each}}
                                    </select>
                                </div>
                            <div class="inline field">
                                <a {{action 'removeProgAdminOption' index}}> 
                                    <i class="large red minus circle icon"></i> <br/>
                                </a>
                            </div>
                            <br/>
                        </div>
                        {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
       </div>
        {{else}}
          <div class="ui center aligned raised segment">
            <div class="ui icon header">
              <i class="protect icon"></i>
              Permission Denied
            </div>
            <div>
              <p>This feature (MSC02) is not allowed for your account.</p>
              <p>Please contact the system administrator for more information.</p>
            </div>

          </div>
        {{/if}}
        
       
       </div>

<div class="ui tab" data-tab="assessment">
    <div class="ui grid">
        <div class="four wide column">
        <div class="ui secondary vertical pointing menu" >
            <div class="active violet item" data-tab="logexp">Logical Expressions</div>
            <div class="violet item" data-tab="rules">Rules</div>
            <div class="violet item" data-tab="codes">Assessment Codes</div>
        </div>
        </div>
    <div class="twelve wide column">
    <div class="ui active tab" data-tab="logexp">
        {{#if MSC02IsPermitted}}
          <div class="ui grid">
            <div class="ui lef aligned twelve wide column">
                <div class="ui form">
                    <br>
                    <div class="inline fields">
                        <div style="margin-right: 12px" class="inline field">
                            <label>Add New</label>
                        </div>
                        <div class="inline field">
                            <label>Parameter</label>
                            <select style="width: 240px" onchange={{action 'updateParameterChoice' value="target.value"}}>
                                <option hidden="hidden">Select</option>
                                <option value='TotalAvg'>TotalAvg</option>
                                <option value='TermUnitPassed'>TermUnitPassed</option>
                                <option value='TermUnitTotal'>TermUnitTotal</option>
                                {{#each courseModel as |courseChoice|}}
                                    <option value="{{courseChoice.courseLetter}}{{courseChoice.courseNumber}}">{{courseChoice.courseLetter}} {{courseChoice.courseNumber}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="inline field">
                            <label>Operator</label>
                            <select style="width: 240px" onchange={{action 'updateOperatorChoice' value="target.value"}}>
                                <option hidden="hidden">Select</option>
                                <option value='='>Equal to</option>
                                <option value=">=">Greater than or Equal to</option>
                                <option value="<=">Less than or Equals to</option>
                                <option value=">">Strictly Greater than</option>
                                <option value="<">Strictly Less than</option>
                            </select>
                        </div>
                        <div class="inline field">
                            <label>Value</label>
                            <input value="" type="text" placeholder="value" onchange={{action 'updateValueChoice' value="target.value"}}>
                        </div>
                        <div class="inline field">
                            <br/>
                            <a {{action 'addLogExpOption'}}> 
                                <i class="large green add square icon"></i>
                            </a>
                        </div>
                        
                    </div>
                    {{#each logExpModel as |logExpChoice index|}}
                        <div class="inline fields">
                            <div class="inline field">
                                <label>Option {{increment index}}</label>
                            </div>
                            <div class="inline field">
                                <input readonly="readonly" style="width: 690px" value={{logExpChoice.boolExpress}} type="text" class = {{index}}>
                            </div>
                            <div class="inline field">
                                <a {{action 'removeLogExpOption' index}}> 
                                    <i class="large red minus circle icon"></i> <br>
                                </a>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{else}}
          <div class="ui center aligned raised segment">
            <div class="ui icon header">
              <i class="protect icon"></i>
              Permission Denied
            </div>
            <div>
              <p>This feature (MSC02) is not allowed for your account.</p>
              <p>Please contact the system administrator for more information.</p>
            </div>

          </div>
        {{/if}}
        
        
    </div>
    <div class="ui tab" data-tab="codes">
        {{#if MACC1IsPermitted}}
          <div class = "ui grid">
            <div class="ui left aligned twelve wide column">
                <div class = "ui form" id = "codes">
                    <br/>
                    <a {{action 'newCodeClicked'}}>
                        <i class="large green add square icon"></i>Add New Assesment Code
                        </a>
                    <br>
                    {{#if newCode}}
                    <br>
                    <div id="newCode">
                        <div class = "ui form error">
                        
                        <div class ="required fifteen wide field">
                            <label>Code</label><input type = "text" class="code" placeholder="Code" name = "code">
                        </div>
                        <div class ="required fifteen wide field">
                            <label>Description</label><input type = "text" class="description" placeholder="Description" name = "description">
                        </div>
                        <div class = "field">
                            <label name="list">Available Rules</label>
                            <select onchange={{action 'selectRule' value="target.value"}} name = "listname">
                                <option hidden>Select</option>
                            {{#each ruleModel as |ruleChoice index|}}
                                <option value={{index}}> {{ruleChoice.description}} </option> 
                                
                            {{/each}}
                        
                            </select>
                        </div>
                        <div class="ui medium header" style="color: #4F2683">Selected Rules:</div>
                        <ul>
                        {{#each newCodeList as |newCodeChoice index|}}
                                <li class={{index}}>{{newCodeChoice.description}}
                                <a {{action 'removeNewCode' index}}><span data-tooltip="Remove This Rule"><i class=" large red minus circle icon"></i></span></a></li>
                        {{/each}}
                        </ul>
                        <br>
                        <button class="ui violet button" {{action 'addCodeOption'}} >
                            Add 
                        </button>
                        <button class="ui button" {{action 'newCodeClicked'}}>
                            Cancel
                        </button>
                        {{#if errProgram}}
                        
                        <div class="ui error message">
                            <div class="header">Missing Fields</div>
                            <p>Please make sure all required fields are filled and at least one plan selected.</p>
                        </div>
                        {{/if}}
                        </div>
                    </div>
                    {{/if}}

                    {{#each codeModel as |codeChoice index|}}
                    <div class = {{index}}>
                        <h4 class="ui horizontal divider header" style="color: #4F2683">
                            <i class="angle double left icon"></i><i class="angle double right icon"></i>
                        </h4>
                        <div class="ui form">
                        <div class = "ui large header" style="color: #4F2683">Option {{increment index}}
                            <a {{action 'removeCodeOption' index}}> 
                            <span data-tooltip="Remove This Option"><i class="red minus circle icon"></i></span> </a> <a {{action 'updateCodeChoice' index}}> 
                            <span data-tooltip="Save Changes to Option"><i class=" save icon" ></i></span></a> 
                        </div>
                        <div class ="fifteen wide field">
                            <label>Code</label>{{input type = "text" class="code" placeholder="Code"  value = codeChoice.code name="code"}}
                        </div> 
                        <div class ="fifteen wide field">
                            <label>Description</label>{{input type = "text" class="description" placeholder="Description"  value = codeChoice.description name="description"}}
                        </div>
                        </div>
                        <br/>
                        <div class = "field">
                            <label name="list">Available Rules</label>
                            <select onchange={{action 'updateCode' index }} class="selectedCode" name="list">
                                <option hidden>Select</option>
                            {{#each ruleModel as |ruleChoice index2|}}
                                <option value={{index2}}> {{ruleChoice.description}} </option> 
                                
                            {{/each}}
                            </select>
                        </div>
                        <div class="ui small header" style="color: #4F2683">Selected Rules:</div>
                        <ul>
                        {{#each codeChoice.rule as |codeRule index2|}}
                            <li class={{index2}}>{{codeRule.description}}
                                <a {{action 'removeCodeRule' index index2}}><span data-tooltip="Remove This Rule"><i class=" large red minus circle icon"></i></span></a></li>
                        {{/each}}
                        </ul>
                    </div>
                    {{/each}}
                </div>      
            </div>
        </div>
        {{else}}
          <div class="ui center aligned raised segment">
            <div class="ui icon header">
              <i class="protect icon"></i>
              Permission Denied
            </div>
            <div>
              <p>This feature (MACC1) is not allowed for your account.</p>
              <p>Please contact the system administrator for more information.</p>
            </div>

          </div>
        {{/if}}
        
        
    </div>
    <div class="ui tab" data-tab="rules">
        {{#if MAR02IsPermitted}}
          <div class = "ui grid">
            <div class="ui left aligned twelve wide column">
                <div class = "ui form" id = "rules">
                    <br/>
                    <a {{action 'newRuleClicked'}}>
                        <i class="large green add square icon"></i>Add New Rule
                    </a>
                    <br>
                    {{#if newRule}}
                    <br>
                    <div id="newRule">
                        <div class = "ui form error">
                        
                        <div class ="required fifteen wide field">
                            <label>Description</label><input type = "text" class="description" placeholder="Description" name = "description">
                        </div>
                        <div class = "field">
                            <label name="list">Available Expressions</label>
                            <select onchange={{action 'selectExpression' value="target.value"}} name = "listname">
                                <option hidden>Select</option>
                                {{#each logExpModel as |logExpChoice index|}}
                                    <option value={{index}}> {{logExpChoice.boolExpress}} </option>    
                                {{/each}}
                            </select>
                        </div>
                        <div class="ui medium header" style="color: #4F2683">Selected Expressions:</div>
                        <ul>
                        {{#each newRuleList as |newRuleChoice index|}}
                                <li class={{index}}>{{newRuleChoice.boolExpress}}
                                <a {{action 'removeNewRule' index}}><span data-tooltip="Remove This Rule"><i class=" large red minus circle icon"></i></span></a></li>
                        {{/each}}
                        </ul>
                        <br>
                        <button class="ui violet button" {{action 'addRuleOption'}} >
                            Add 
                        </button>
                        <button class="ui button" {{action 'newRuleClicked'}}>
                            Cancel
                        </button>
                        {{#if errRule}}
                            <div class="ui error message">
                                <div class="header">Missing Fields</div>
                                <p>Please make sure all required fields are filled and at least one plan selected.</p>
                            </div>
                        {{/if}}
                        </div>
                    </div>
                    {{/if}}

                    {{#each ruleModel as |ruleChoice index|}}
                    <h4 class="ui horizontal divider header" style="color: #4F2683">
                        <i class="angle double left icon"></i><i class="angle double right icon"></i>
                    </h4>
                    <br/>
                    <div class = {{index}}>
                        <div class="ui form">
                            <div class = "ui large header" style="color: #4F2683">Option {{increment index}}
                                <a {{action 'removeRuleOption' index}}> 
                                <span data-tooltip="Remove This Option"><i class="red minus circle icon"></i></span> </a> <a {{action 'updateRuleChoice' index}}> 
                                <span data-tooltip="Save Changes to Option"><i class=" save icon" ></i></span></a> 
                            </div>
                            <div class ="fifteen wide field">
                                {{log "rule choice description"}}
                                {{log ruleChoice.description}}
                                <label>Description</label>{{input type = "text" class="description" value=ruleChoice.description name="description"}}
                            </div> 
                            <div class = "field">
                                <label name="list">Available Expressions</label>
                                <select onchange={{action 'updateRule' index }} class="selectedRule" name="list">
                                    <option hidden>Select</option>
                                {{#each logExpModel as |logExpChoice index2|}}
                                    <option value={{index2}}> {{logExpChoice.boolExpress}} </option> 
                                    
                                {{/each}}
                                </select>
                            </div>
                            <div class="ui small header" style="color: #4F2683">Selected Expressions:</div>
                            <ul>
                            {{#each ruleChoice.logExpressions as |ruleExp index2|}}
                                <li class={{index2}}>{{ruleExp.boolExpress}}
                                    <a {{action 'removeRuleExp' index index2}}><span data-tooltip="Remove This Plan"><i class=" large red minus circle icon"></i></span></a></li>
                            {{/each}}
                            </ul>
                        </div>
                    </div>
                    {{/each}}
                </div>      
            </div>
        </div>
        {{else}}
          <div class="ui center aligned raised segment">
            <div class="ui icon header">
              <i class="protect icon"></i>
              Permission Denied
            </div>
            <div>
              <p>This feature (MAR02) is not allowed for your account.</p>
              <p>Please contact the system administrator for more information.</p>
            </div>

          </div>
        {{/if}}
        
        
    </div>
    </div>
    </div>
</div>