<div class="w3-row-padding w3-margin-bottom">
  <div class="w3-container w3-center w3-padding-16">
  {{#if isEditing }}
    <header class="w3-container w3-center" style="padding-top:22px; padding-bottom:22px">
      <h4><b><i class="fa fa-plus"></i> Add New Feature</b></h4>
    </header>
    <form class="w3-container w3-center">
      <div class="inline field">
        <label>Feature code</label>
        {{input value=code type="text" placeholder="enter feature code" class="w3-input w3-border w3-round-large"}}
      </div>
      <div class="inline field">
        <label>Feature name</label>
        {{input value=sysFeature type="text" placeholder="enter feature description" class="w3-input w3-border w3-round-large"}}
      </div>
      <br>
      <button class="w3-button w3-green w3-round-large" {{action 'save'}}>Save</button>
      <button class="w3-button w3-red w3-round-large" {{action 'cancel'}}>Cancel</button>
    </form>
    <br>
    
  {{else}}
    <header class="w3-container w3-center" style="padding-top:22px; padding-bottom:22px">
      <h4><b><i class="fa fa-lock"></i> Manage System Permissions</b></h4>
    </header>
    <table class="w3-table-all">
      <thead>
      <tr>
        <th>System Permission Name</th>
        <th></th>
        <th class="w3-center">
          {{#if MF001IsPermitted }}
            <button class="w3-button w3-green w3-round-large" {{action 'addNewFeature'}}><i class="fa fa-plus"></i> Add System Feature</button>
          {{else}}
            <button class="w3-button w3-green w3-round-large w3-disabled" {{action 'addNewFeature'}}><i class="fa fa-plus"></i> Add System Feature (Not Permitted)</button>
          {{/if}}
        </th>
      </tr>
      </thead>
      <tbody>

      {{#each rolePermissionModel as |oneFeature|}}
        <tr>
          <td>
            {{oneFeature.code}}
          </td>
          <td >
            {{oneFeature.sysFeature}}
          </td>
          <td class="w3-center">
            {{delete-feature ID=oneFeature.id }}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    <br><br>
    
  {{/if}}
  </div>
</div>
