<div class="w3-row-padding w3-margin-bottom">
      <div class="w3-container w3-center w3-padding-16">
{{#if MSR01IsPermitted }}
  {{#if isEditing }}
    <header class="w3-container w3-center" style="padding-top:22px; padding-bottom:22px">
      <h4><b><i class="fa fa-plus"></i> Add New System Role</b></h4>
    </header>
    <form class="w3-container">
      {{input value=name type="text"  class="w3-input w3-border w3-round-large" placeholder="Enter Role Name"}}
      <br>
      <button class="w3-button w3-green w3-round-large" {{action 'save'}}>Save</button>
      <button class="w3-button w3-red w3-round-large" {{action 'cancel'}}>Cancel</button>
    </form>
  {{else}}
    <header class="w3-container w3-center" style="padding-top:22px; padding-bottom:22px">
      <h4><b><i class="fa fa-list"></i> Manage System Roles</b></h4>
    </header>
    <table class="w3-table-all">
      <thead>
      <tr>
        <th>System Role Name</th>
        <th></th>
        <th class="w3-center">
          <button class="w3-button w3-green w3-round-large" {{action 'addNewRole'}}><i class="fa fa-plus"></i> Add New Role</button>
        </th>
      </tr>
      </thead>
      <tbody>

      {{#each roleCodeModel as |oneCode|}}
        <tr>
          <td>
            {{oneCode.name}}
          </td>
          <td class="w3-center">
            {{manage-permission roleID = oneCode.id}}

          </td>
          <td class="w3-center">
            {{delete-role key=oneCode.id}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>

  {{/if}}
{{/if}}
</div>
</div>