<header class="w3-container w3-center" style="padding-top:22px; padding-bottom:22px">
    <h1><b><i class="fa fa-comments"></i> Class Messages</b></h1>
</header>
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-third w3-round-large">
            <div class="w3-container w3-padding-16">
                <!--<button class="w3-button w3-round-large w3-black"><i class="fas fa-pencil-alt"></i>  Edit</button>-->
                <button class="w3-button w3-round-large w3-black w3-block" {{action 'openNewMessage'}}><i class="fas fa-pencil-alt"></i>  New Message</button>
                <br>
                <button class="w3-button w3-block w3-round-large {{RM}}" {{action 'recievedMsgs'}}><i class="fas fa-inbox"></i>  Recieved</button>
                <br>
                <button class="w3-button w3-block w3-round-large {{SM}}" {{action 'sentMsgs'}}><i class="fas fa-paper-plane"></i>  Sent</button>
                <br>
            </div>
            <br>
            
        </div>
        <div class="w3-twothird">
            <div class="w3-container w3-padding-16">
                {{#if isZeroMsgs}}
                    <h5 class="w3-center"><strong>No Messages</strong></h5>
                {{else}}
                {{#each Messages as |mess index|}}
                    <div class="container">
                        {{#if Msgs}}
                        <p><strong>From: {{mess.sender.firstName}} {{mess.sender.lastName}}</strong></p>
                        {{/if}}
                        {{#if isSentMsgs}}
                        <p><strong>To: {{mess.reciever.firstName}} {{mess.reciever.lastName}}</strong></p>
                        {{/if}}
                        <p><strong>Subject: </strong>{{mess.header}}</p>
                        <p>{{mess.body}}</p>
                        <p class="w3-right">{{mess.date}}</p>
                    </div>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>

{{#if isMakingNew}}
    <div class="ui modal auth">
      <div class="header">Send New Message</div>
      <div class="content">
        <div class="ui form">
          <div class="inline field">
            <label>Select Message Reciever</label>
            <select class="ui dropdown" name="studentList" onchange={{action "selectReciever" value="target.value"}}>
                <option hidden>Select Reciever</option>
                {{#each allUsers as |user index|}}
                    <option value={{user.id}}>{{user.firstName}} {{user.lastName}}</option>
                {{/each}}
            </select>
          </div>
          <div class="inline field">
            <label>Subject</label>
            {{input value=header type="text" placeholder="Enter Subject"}}
          </div>
          <div class="inline field">
            <label>Message</label>
            {{textarea type="text" rows="4" value=body}}
          </div>
        </div>
      </div>
      <div class="actions">
        <button class="w3-button w3-green w3-round-large" {{action "sendMessage"}}>
          Send
        </button>
        <button class="w3-button w3-red w3-round-large" {{action "cancelSend"}}>
          Cancel
        </button>
      </div>
    </div>
{{/if}}