<header class="w3-container w3-center" style="padding-top:22px; padding-bottom:22px">
    <h1><b><i class="fa fa-comments"></i> Messages</b></h1>
</header>
    <div class="w3-margin-bottom">
        <div class="w3-third w3-round-large">
            <div class="w3-container">
                <div class="w3-bar-block w3-blue w3-center">
                    {{#each allUsers as |user|}}
                        <a class="w3-bar-item w3-button" {{action 'openMessage' user}}>
                                {{user.firstName}} {{user.lastName}}
                        </a>
                    {{/each}}
                </div>
            </div>
            <br>
            
        </div>
        <div class="w3-twothird">
            <div class="w3-container w3-padding-16">
                {{#if messageNotViewing}}
                    
                {{else}}
                    <header class="w3-container w3-center" style="padding-top:22px; padding-bottom:22px">
                        <h5><i class="fa fa-user"></i>  <b>{{currentReciever.firstName}} {{currentReciever.lastName}}</b></h5>
                    </header>
                    {{#if zeroMsgs}}
                        <p class="w3-center">No Message history</p>
                    {{else}}
                        <div id="messageCon">    
                            {{#each displayMessages as |mess|}}
                                {{#if (if-cond mess.sender.id '===' currentReciever.id)}}
                                    <div class="container sender">
                                        <!--<p><strong>{{mess.sender.firstName}} {{mess.sender.lastName}}</strong></p>-->
                                        <p>{{mess.body}}</p>
                                        <p class="w3-right">{{mess.date}}</p>
                                    </div>
                                {{else}}
                                    <div class="container user">
                                        <!--<p><strong>{{mess.sender.firstName}} {{mess.sender.lastName}}</strong></p>-->
                                        <p>{{mess.body}}</p>
                                        <p class="w3-right">{{mess.date}}</p>
                                    </div>
                                {{/if}}
                            {{/each}}
                        </div>
                    {{/if}}
                    <br>
                    <div class="ui action fluid input">
                        {{input value=body type='text' placeholder='Type new message...' class="w3-input w3-border"}}
                        <button class="ui w3-blue button" {{action 'sendMessage'}}><!--<i class="fas fa-paper-plane"></i>-->Send Message</button>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>