{{#if ADM01IsPermitted }}
  <div class="ui violet menu">
      <div class="item">
        <img src="/assets/images/UWO Stacked.png"> 
        <div class="item" style="color: #4F2683">Western Engineering Adjudication</div>
      </div>
      
      <a class={{H}} {{action "home"}}>
        <i class="large home icon"></i>
        Admin Portal Menu
      </a>
      <a class={{SR}} {{action "manageUsers"}} >
        <i class="large users icon"></i>
        Users Accounts
      </a>
      <a class={{CR}} {{action "manageRoles"}} >
        <i class="large list layout icon"></i>
        System Roles
      </a>
      <a class={{MC}} {{action "manageFeatures"}} >
        <i class="large lock icon"></i>
        System Features/Privileges
      </a> 

      

      <div class="right menu">
        

        <a class="item" {{action "exitAdmin"}} >
            <i class="large reply icon"></i>
            Exit Admin Portal
        </a>

        <div class = "item">{{log-out}}</div>
       
      </div>

    </div>
  <div class="ui grid">
    <div class="one wide column">
    </div>
    <div class="fourteen wide column ">
      <div class="ui segment container">
        {{#if isHomeShowing}}
          <div class="ui center aligned header">
    <h2>Western Engineering Adjudication Admin Portal</h2>
</div>
<hr>
<br/>

<div class="ui grid">
  <div class="eight wide column">
  <button class="ui fluid button" {{action "manageUsers"}} style="background-color: #4F2683; color: #FFFFFF">
    <div class="ui center aligned header" style="color: #FFFFFF; font-size: 200%">Users Accounts</div>

    <div>
      <i class="massive users icon"></i>
    </div>
  </button>
  </div>
  <div class="eight wide column">
    <!-- Grey Colour: #807F83 Purple Colour: #4F2683 -->
  <button class="ui fluid button" {{action "manageRoles"}} style="background-color: #4F2683; color: #FFFFFF">
    <div class="ui center aligned header" style="color: #FFFFFF; font-size: 200%">System Roles</div>
    <div> <i class="massive list layout icon"></i> </div>
  </button>
  </div>
  <div class="eight wide column">
  <button class="ui fluid button" {{action "manageFeatures"}} style="background-color: #4F2683; color: #FFFFFF">
    <div class="ui center aligned header" style="color: #FFFFFF; font-size: 200%">System Features/Privileges</div>
    <div><i class="massive lock icon"></i></div>
  </button>
  </div>
  <div class="eight wide column">
  <button class="ui fluid button" {{action "exitAdmin"}} style="background-color: #4F2683; color: #FFFFFF">
    <div class="ui center aligned header" style="color: #FFFFFF; font-size: 200%">Exit Admin Portal</div>
    <div><i class="massive reply icon"></i></div>
  </button>
  </div>
</div>
        {{/if}}
        {{#if isUsersShowing}}
          <br>
          {{manage-users}}
        {{/if}}
        {{#if isRolesEditing }}
          <br>
          {{manage-roles}}
        {{/if}}
        {{#if isFeaturesEditing }}
          <br>
          {{manage-features}}
        {{/if}}
      </div>
    </div>
  </div>

{{else}}
  <div class="ui violet menu">
      <div class="item">
        <img src="/assets/images/UWO Stacked.png"> 
        <div class="item" style="color: #4F2683">Western Engineering Adjudication</div>
      </div>
      <a class="item" {{action 'mainPress'}}>
          <i class="large home icon"></i>
            Portal Home
        </a>
        <a class="item" {{action 'changePress'}}>
          <i class="large setting icon"></i>
            Change Password
        </a>
        
        <div class="right menu">
          <a class="item" {{action "exitAdmin"}} >
            <i class="large reply icon"></i>
            Exit Admin Portal
        </a>
        <div class = "item">{{log-out}}</div>
       
      </div>

    </div>
  {{#if main}}  
  <div class="ui center aligned raised segment">
    <div class="ui icon header">
      <i class="protect icon"></i>
      Permission Denied
    </div>
    <div>
      <p>This feature (ADM01) is not allowed for your account.</p>
      <p>Please contact the system administrator for more information. However, you may change your password.</p>
    </div>

  </div>
  {{/if}}
  {{#if change}}
  <div class="ui segment container">
  <div class="ui grid">
    <div class="ten wide centered column">
      <div class="ui center aligned header">
        <h2>Change Password</h2>
      </div>
    <div class="ui form">
        <div class="field">
          <label>Confirm Username</label>
          {{input value=name type="text"}}
        </div>
        <div class="field">
          <label>Password</label>
          {{input value=firstPassword type="password"}}
        </div>
        <div class="field">
          <label>Re-enter Password</label>
          {{input value=secondPassword type="password"}}
        </div>
        <div class="field">
          <button id = "button" class="ui button large fluid" style="background-color: #4F2683; color: #FFFFFF" {{action 'save'}}>
            Change Password
          </button>
        </div>
      </div>
    </div>
    </div>
  </div>
  {{/if}}

{{/if}}



